<!doctype html>
<html>

<head>
    <title>chat</title>
</head>

<body>
    <ul id="messages" type="none">
        <li id="usercount"></li>
    </ul>

    <form id="msgform">
        <input id="msginput" autocomplete="off" type="text">
        <button type="submit">전송</button>
    </form>
</body>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    socket.on('fromServer', msg => {
        console.log('From server : ' + msg)
    })
    var msgform = document.getElementById('msgform');
    // socket.on 함수로 서버에서 전달하는 신호를 수신
    socket.on('usercount', (count) => {
        var userCounter = document.getElementById('usercount');
        userCounter.innerText = "할짓없는 " + count + " 놈이 접속함.";
    });
    // 메시지 수신시 HTML에 메시지 내용 작성
    socket.on('message', (msg) => {
        var messageList = document.getElementById('messages');
        var messageTag = document.createElement("li");
        messageTag.innerText = msg;
        messageList.appendChild(messageTag);
    });
    msgform.onsubmit = (e) => {
        e.preventDefault();
        var msginput = document.getElementById('msginput');

        // socket.emit으로 서버에 신호를 전달
        socket.emit('message', msginput.value);

        msginput.value = "";
    };
</script>

</html>